server:
  port: 8151

spring:
  application:
    name: event

  datasource:
    url: 'jdbc:h2:mem:eventdb'
    driver-class-name: org.h2.Driver

  h2:
    console:
      enabled: true

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

  cloud:
    config:
      enabled: false
    discovery:
      enabled: true
    eureka:
      client:
        service-url:
          defaultZone: 'http://localhost:8761/eureka/'
