server:
  port: 8888

spring:
  application:
    name: gatewayserver

  cloud:
    config:
      enabled: false
    discovery:
      enabled: true
    gateway:
      routes:
        - id: r1
          uri: lb://STAGE-MICROSERVICE
          predicates:
          - Path= /api/stages/**
        - id: r2
          uri: lb://EVENT
          predicates:
          - Path= /api/events/**
      discovery:
        locator:
          enabled: false
          lowerCaseServiceId: true


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    gateway:
      access: unrestricted
